<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<header>
    <h1>HALCON</h1>
    <nav>
        <a href="/halcon-user">LANDINGPAGE</a>
    </nav>
</header>

<body>
    <h1>DASHBOARD</h1>

    <a href="/halcon-user/dashboard/admin">
        <h2>ADMIN</h2>
    </a>

    <a href="/halcon-user/dashboard/sales">
       <h2>SALES</h2>
    </a>

    <a href="/halcon-user/dashboard/purchasing">
        <h2>PURCHASING</h2>
    </a>

    <a href="/halcon-user/dashboard/warehouse">
        <h2>WAREHOUSE</h2>
    </a>

    <a href="/halcon-user/dashboard/route">
        <h2>ROUTES</h2>
    </a>

</body>
</html>