<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchasing - Dashboard</title>
</head>

<header>
    <h1>HALCON</h1>
    <nav>
        <a href="/halcon-user">LANDINGPAGE</a>
        <a href="/halcon-user/dashboard">DASHBOARD</a>
    </nav>
</header>

<body>
    <h1>PURCHAISNG</h1>
    <form id="form">
    </form>

    <div id="list"></div>

    <script src="/purchasing.js"></script>
</body>
</html>