<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse - Dashboard</title>
</head>

<header>
    <h1>HALCON</h1>
    <nav>
        <a href="/halcon-user">LANDINGPAGE</a>
        <a href="/halcon-user/dashboard">DASHBOARD</a>
    </nav>
</header>

<body>
    <h1>WAREHOUSE</h1>
    <h3>REQUEST FOR PURCHASING</h3>
    <form id="form">
        <span>Purchase request</span>
        <input type="text" id="reqProduct" placeholder="Id of Product to request">
        <input type="text" id="reqUnit" placeholder="Units to buy">

        <button type="submit">SUBMIT</button>
    </form>

    <form id="form-newProduct">
        <span>Purchase a new product</span>
        <input type="text" id="reqNewProduct" placeholder="Name of Product to buy">
        <input type="text" id="reqUnit" placeholder="Units to buy">

        <button type="submit">SUBMIT</button>
    </form>

    <h3>ORDERS</h3>
    <div id="order-list"></div>

    <h3>INVENTORY</h3>
    <table id="product-table">
        <thead>
            <tr>
                <th>Id: </th>
                <th>Name: </th>
                <th>Units: </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="request">REQUEST</div>

    <script src="/warehouse.js"></script>
</body>
</html>